
<div class="wrapper">
  <div class="product-info">
    <div class="product-text">
      <h1>添加英雄</h1>
      
      <button  mat-icon-button (click)="openSnackBar(name.value+' 英雄已添加完毕!')" (click)="add(no.value,name.value,desc.value,isTopState);no.value='';name.value='';desc.value='';isTopState=false">
        <mat-icon>add</mat-icon>
      </button>
     
      
      <mat-form-field  appearance="fill">
        <mat-error>请输入英雄名！</mat-error>
        <mat-label>英雄名</mat-label>
        <input matInput  #name placeholder="新英雄名" required>
      </mat-form-field>



      <button  mat-icon-button #isTop (click)="isTopState=!isTopState">
        <mat-icon *ngIf="isTopState">person</mat-icon>
        <mat-icon *ngIf="!isTopState">person_outline</mat-icon>
      </button>
      <br>

      <h2>
        <mat-form-field  appearance="fill">
          <mat-error>请输入英雄编号！</mat-error>
          <mat-label>英雄编号</mat-label>
          <input matInput #no placeholder="新英雄编号" required>
        </mat-form-field>
      </h2>




      <p>
        <mat-form-field appearance="fill">
          <mat-label>英雄描述</mat-label>
          <textarea matInput #desc placeholder="新英雄描述"></textarea>
        </mat-form-field>
      </p>

    </div>

  </div>
</div>


  