<mat-toolbar class="tgm-fixed" style="z-index:999">
  <button mat-icon-button>
    <mat-icon>group</mat-icon>
  </button>
  <span>{{title}}</span>
  <button mat-button color="primary" routerLink="/hero-list">所有英雄</button>
  <button mat-button color="primary" routerLink="/hero-top">顶级英雄</button>
  <button mat-button color="primary" routerLink="/hero-add">添加英雄</button>
  <a mat-button color="primary" href="../summary.html">我的报告</a>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>

