

      <strong>{{title}}</strong>
   
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/hero-list">所有英雄</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/hero-top">顶级英雄</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/hero-add">添加一个英雄？</a>
      </li>
    </ul>
 

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
